* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  min-height: 100%;
  min-width: 100%;
  background-color: lightblue;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
#main .cards {
  height: 300px;
  width: 220px;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cards img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.cards p {
  text-align: center;
  margin: 105px 0 10px 0;
}
.cards button {
  color: white;
  background-color: lightskyblue;
  padding: 8px 15px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 15px;
}
.cards button:hover {
  color: lightskyblue;
  /* background-color: transparent; */
  background-color: black;
  box-shadow: 0px 2px 10px black;
}
.alisa:hover {
  box-shadow: 0px 2px 10px #ed5b98;
}
.liza:hover {
  box-shadow: 0px 2px 10px #887df5;
}
.maxi:hover {
  box-shadow: 0px 2px 10px #d2b535;
}
.sujen:hover {
  box-shadow: 0px 2px 10px #61ebeb;
}
.tina:hover {
  box-shadow: 0px 2px 10px #73a3e7;
}
.napat:hover {
  box-shadow: 0px 2px 10px #b5102c;
}
.raamin:hover {
  box-shadow: 0px 2px 10px #171813;
}
.weslely:hover {
  box-shadow: 0px 2px 10px #e80853;
}
.masoud:hover {
  box-shadow: 0px 2px 10px #e79d52;
}
